<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.together">

    <uses-permission android:name="android.permission.CAMERA" tools:node="remove"/>


    <application
        tools:replace="icon"
        android:icon="@mipmap/ic_launcher_buy">
    </application>

</manifest>
